<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form" {% if request.user.is_authenticated %}data-user='abc'{% endif %}> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' {% if  product.is_digital %}data-is-digital='true'{% endif%}/>
      <span class='submit-span'>
    {% if product in cart.products.all %}
        <div class='btn-group'> <a class='btn btn-link' href='/cart/'>List Baca</a> <button type='submit' class='btn btn-link'>Remove?</button></div>
    {% else %}
        <button type='submit'  class='btn btn-success'>Tambahkan Ke List Baca</button>
    {% endif %}
    </span>
</form>
