{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
<div class='text-center'>
  <h1>About This Web</h1>
  <p>adalah sebuah E-Library Khusus untuk Membaca Sebuah Manuskrip Kuno Jaman Dahulu</p>

</div>

<div class='row'>
  <div class='col'>
      <img src="{% static 'img/beach.jpg' %}" class='img-fluid' />
      <p>{{ content }}</p>
  </div>
</div>
{% if request.user.is_authenticated %}
<div class='row'>
  <div class='col'>
</div>
{% endif %}


{% endblock %}

<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel='stylesheet' href='{% static "css/main.css" %}' >
    </head>
    <body>
      <div class='text-center'>
          <h1>{{ title }}</h1>
          </div>
      <div class='container'>
        <div class='row'>
          <div class='col'>
              <img src="{% static 'img/beach.jpg' %}" class='img-fluid' />
              <img src="{% static 'img/beach.jpg  ' %}" class='img-fluid' />

          </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class='row'>
          <div class='col'>
          </div>
        </div>
        {% endif %}
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
  </html>
